
@model List<Dictionary<string,string>>

<link rel="stylesheet" href="~/css/base.css">
<link rel="stylesheet" href="~/css/dashboard.css">
<link rel="stylesheet" href="~/css/modal.css">



<div class="container">
    <div class="main">
        <div class="header">
            <h1>StockWatch</h1>
            <form asp-controller="User" asp-action="Logout">
                <button class="logout-btn">Logout</button>
            </form>
        </div>

        <div class="wallstreet">
            <h1>Wallstreetbets</h1>
        </div>

        <div class="search">
            <h1>Search</h1>
            <div class="search-error">
                <p>Ticker Not Found</p>
            </div>
            <div class="search-field">
                <input type="text" required>
                <span></span>
                <label>Ticker</label>
            </div>
            <form action="">
                <button>Search</button>
            </form>
        </div>

        <div class="stocks">
            <h1>Common Stocks</h1>
            @await Html.PartialAsync("_StockCompact", @Model);
        </div>
        
        <div class="list">
            <h1>List</h1>
            @await Html.PartialAsync("_StockCompact", @Model);
        </div>
    </div>
</div>

<div class="bg-modal">
    <div class="modal-content">
        <div class="close" onclick="closeFullView()">+</div>
        <div class=""></div>
        <h1>APPL</h1>
        <div class="modal-fake-img"></div>
        <div class="modal-info">
            <div>
                <h3>Open: 300</h3>
                <h3>Close: 500</h3>
                <h3>+100%</h3>
            </div>
            <div>
                <h3>High: 500</h3>
                <h3>Low: 500</h3>
                <h3>Volume: 40000000</h3>
            </div>
        </div>
    </div>    
</div>

<script src="~/js/modal.js"></script>