
<link rel="stylesheet" href="~/css/base.css">
<link rel="stylesheet" href="~/css/dashboard.css">




@{
    List<Dictionary<string, string>> watchStockList = new List<Dictionary<string, string>>();

    watchStockList.Add(new Dictionary<string, string>(){
        {"ticker", "APPL"},
        {"open", "121"},
        {"close", "121.19"},
    });
    watchStockList.Add(new Dictionary<string, string>(){
        {"ticker", "APPL"},
        {"open", "121.19"},
        {"close", "121"},
    });
}

<!--  close - open % open * 100 -->

<div class="container">
    <div class="main">
        <div class="header">
            <h1>StockWatch</h1>
            <form asp-controller="User" asp-action="Logout">
                <button class="logout-btn">Logout</button>
            </form>
        </div>

        <div class="wallstreet">
            <h1>Wallstreetbets</h1>
        </div>

        <div class="search">
            <input type="text">
            <button>Search</button>
        </div>

        <div class="stocks">
            <h1>Common Stocks</h1>
        </div>
        
        <div class="list">
            <h1>List</h1>
            @await Html.PartialAsync("_StockCompact", watchStockList);
        </div>


    </div>
</div>

